h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

ul, li, a {
  text-decoration: none;
}

hr {
  border: 2px solid #000000;
  width: 60px;
}

.clearix:before,
.clearfix:after {
  content:" ";
  display: table;
}

.clearfix:after {
  clear: both;
}


.container-description {
  width: 80%;
  margin: 0 auto;
}

.container-description p {
  line-height: 2em;
}

.container-description a {
  color: #b35009;
}

.container-description a:hover {
  color: #b77a4e;
}

.main_wrapper {
  width: 45%;
  margin: 0 auto;
}

/*INTRO*/

.wrapper-intro {
  text-align: center;
}

.description {
  font-weight: 200;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

/*SOCIAL*/

.wrapper-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
}

.wrapper-social a {
  margin: 0 5px;
  color: #000000;
}

.wrapper-social a:hover {
  color: #b35009;
}

/*MUSIC*/

.wrapper-music {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 30px 0 0 0;
}

.wrapper-music > div {
  width: 50%;
  padding: 10px;
}

.wrapper-music > div:first-child {
  text-align: center;
}

.img-music {
  width: 60%;
}

.wrapper-music h3 {
  padding: 0;
  margin: 0;
}

.wrapper-music a {
  text-decoration: none;
  color: #000000;
}

.wrapper-music a:hover {
  color: #b35009;
}

.wrapper-music h4 {
  padding: 0;
  margin: 0;
}

.wrapper-music p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #a7a7a7;
  font-weight: 300;
}

.wrapper-music h4 {
  color: #5f5e5e;
  padding: 7px 0 7px 0;
}

.img-profile{
  width: 8rem;
  clip-path: circle(60px at center);
}

.music-title {
  text-align: center;
}

/*ABOUT*/

.wrapper-about {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 50px 0;
}

/*SIDEBAR*/

#content{
  margin-left: 120px;
}

#sidebar {
  background-color: #fff;
  border-right: 1px solid #000000;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:#000000;
}

#sidebar a:hover {
  color: #b35009;
}

/* Responsive layout behavior */

@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
  .main_wrapper {
    width: 90%;
  }
}

